# docker-compose.yml
services:
  snap-2-track-backend:
    container_name: snap-2-track-backend
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8090:8000"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"